*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#080808 25%, rgba(0,0,0,0.8));
    color: #fff;
}
/* #header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Ben_Headshot_blc_background.jpg);
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
} */
.container{
    padding-bottom: 400px;
    padding-left: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FF3D3D;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.header-text h1 {
    display: inline-block;  /* Allows width animation to work */
    white-space: nowrap;    /* Prevents text wrapping */
    overflow: hidden;       /* Hides overflowing text */
    font-size: 60px;
    margin-top: 20px;
    animation: typing 3s steps(30), cursor 0.5s step-end infinite alternate;
}

/* Style for <h1> span */
.header-text h1 span {
    color: #1F4E78;
}

/* ------------------------about----------------------- */
#about{
    padding:80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 h1{
    color: #1F4E78;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-links.active-link {
    color: #FF6700;
    font-weight: bold;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #FF6700;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-------portfolio--------*/
#portfolio{
    padding: 50px 0;
}
.sub-title{
    color: #1F4E78;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #FF6700);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    color: #FF3D3D;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer p {
    color: #C0C0C0; /* Silver Gray for text */
    font-size: 14px;
    line-height: 1.5;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}
/* .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition:background 0.5s;
}
.btn:hover{
    background: #ff004f;
} */

/*---------------contact--------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #FF6700;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababaa;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #FF6700;
    transform: translateY(-5px);
}
form .btn2{
    display: inline-block;
    background: #FF6700;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
form .btn2:hover {
    background: #FF3D3D;
}
#msg{
    color: #61b752;
    margin-top :-40px;
    display: block;
}
